body{
    background-color: rgb(177, 248, 180);
    color:rgb(0, 0, 0);
}

footer{
    background-color:;
    position: fixed;
    bottom: 0;
    width: 300%;
    height: 2rem;
    text-align: center;
}

footer p{
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 1.0 rem;
    margin-top: 0.5 rem;
}

